h1 {
    font-family: "Bebas Kai";
    font-size: 48px;
    margin-left: 25px;
}

h2 {
    font-family: "Open Sans";
    font-size: 24px;
 
}

h3 {
    font-family: "Bebas Kai";
    font-size: 32px;   
    text-decoration: underline; 
    margin: 5px;
}

h4 {
    font-family: "Open Sans";
    font-size: 31px;    
    text-decoration: underline;
    margin: 5px;
}
.color-box {
    display: inline-flex;

}

.purple {
    padding: 100px 50px;
    background-color: #49394e;
    color: white;
    margin: 10px 40px 50px 40px;
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(160, 160, 160, .5)
}

.teal {
    padding: 100px 50px;
    background-color: #548687;
    color: white;
    margin: 10px 40px 50px 40px;
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(160, 160, 160, .5)
}

.gold {
    padding: 100px 50px;
    background-color: #f4d038;
    margin: 10px 40px 50px 40px;
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(160, 160, 160, .5)
    
}

.light-cream {
    padding: 100px 50px;
    background-color: #fafafa;
    margin: 10px 40px 50px 40px;
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(160, 160, 160, .5)
}

.font-group {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    vertical-align: top;

}

.Bebas {
    font-family: "Bebas Kai";
    font-size: 32px;
}

.Open {
    font-family: "Open Sans";
    font-size: 30px;
}


.brand-fonts {
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.brand-colors {
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-styles {
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading1 {
    font-family: "Bebas Kai";
    font-size: 48px;
    margin-left: 35px;
}

.subheading {
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 400;
    margin-left: 35px;
}

.paragraph {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-left: 35px;
}

li {
    font-family: "Open Sans";
    font-size: 16px; 
    margin-left: 55px;
}